<!DOCTYPE html>

<head>
  <title>My Profile</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/contact.css" />
  <link rel="stylesheet" href="assets/css/index.css" />
  <link rel="stylesheet" href="assets/css/project.css" />
  <link rel="stylesheet" href="assets/css/font.css" />
  <link rel="stylesheet" href="assets/css/nav.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body style="background-color: lightgrey;">
  <nav class="navbar navbar-expand-lg bg-white py-4">
    <div class="container">
        <div class="nav-left">
            <img src="assets/img/logo.png" height="30">
            <ul class="nav-links">
                <li><a href="/" class="nav-item-desktop">Home</a></li>
                <li><a href="/myProject" class="nav-item-desktop">My Project</a></li>
                <li><a href="/testimonial" class="nav-item-desktop">Testimonials</a></li>
            </ul>
        </div>
        <div class="nav-right d-flex flex-row">
            <a href="/contact" class="btn btn-dark rounded-pill px-4 me-2 d-none d-lg-block">Contact Me</a>
            <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>


<div class="collapse navbar-collapse bg-white border-bottom d-lg-none" id="navbarCollapse">
    <div class="container py-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myProject">My Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/testimonial">Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contact">Contact Me</a>
            </li>
        </ul>
    </div>
</div>


  <br>
  <h1 style="margin:auto;
    text-align: center;
    font-weight: bold;">GET IN TOUCH</h1>
  <div style="display: flex; justify-content: center; margin-top: 50px">
    <form onsubmit="sendToMail(event)" style="display: flex; flex-direction: column; gap: 10px; width: 300px">
      <div>
        <label>Name</label>
        <input id="input-name" />
      </div>
      <div>
        <label>Email</label>
        <input id="input-email" />
      </div>
      <div>
        <label>Phone Number</label>
        <input id="input-phone" />
      </div>
      <div>
        <label>Subject</label>
        <select id="input-subject">
          <option value="" disabled selected>select</option>
          <option value="Fullstack Developer">Fullstack Developer</option>
          <option value="Frontend Developer">Frontend Developer</option>
          <option value="Backend Developer">Backend Developer</option>
        </select>
      </div>
      <div>
        <label>Your message</label>
        <textarea style="resize: none;" id="input-message"></textarea>
      </div>
      <button class="btn-contact">Submit</button>
    </form>
  </div>

  <script src="assets/js/contact.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>