<!doctype html>
<html lang="en">

<head>
  <title>Testimonial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/index.css" />
  <link rel="stylesheet" href="assets/css/contact.css" />
  <link rel="stylesheet" href="assets/css/nav.css" />
  <link rel="stylesheet" href="assets/css/home.css" />
  <link rel="stylesheet" href="assets/css/testimonial.css">
  <link rel="stylesheet" href="assets/css/font.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
</head>

<body style="background-color: lightgrey;">
  <nav class="navbar navbar-expand-lg bg-white py-4">
    <div class="container">
        <div class="nav-left">
            <img src="assets/img/logo.png" height="30">
            <ul class="nav-links">
                <li><a href="/" class="nav-item-desktop">Home</a></li>
                <li><a href="/myProject" class="nav-item-desktop">My Project</a></li>
                <li><a href="/testimonial" class="nav-item-desktop active">Testimonials</a></li>
            </ul>
        </div>
        <div class="nav-right d-flex flex-row">
            <a href="/contact" class="btn btn-dark rounded-pill px-4 me-2 d-none d-lg-block">Contact Me</a>
            <button class="navbar-toggler border-0 d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</nav>


<div class="collapse navbar-collapse bg-white border-bottom d-lg-none" id="navbarCollapse">
    <div class="container py-3">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/myProject">My Project</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/testimonial">Testimonials</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Me</a>
            </li>
        </ul>
    </div>
</div>

  <div class="container my-5">
    <h1 class="text-center">My Testimonials</h1>
    <div class="container-rating text-center mb-4">
        <h2>Rating By Star</h2>
        <div class="rating">
            <button class="rating-btn btn btn-dark" onclick="getTestimonialByStar()">All <i class="fa-solid fa-star"></i></button>
            <button class="rating-btn btn btn-dark" onclick="getTestimonialByStar(1)">1 <i class="fa-solid fa-star"></i></button>
            <button class="rating-btn btn btn-dark" onclick="getTestimonialByStar(2)">2 <i class="fa-solid fa-star"></i></button>
            <button class="rating-btn btn btn-dark" onclick="getTestimonialByStar(3)">3 <i class="fa-solid fa-star"></i></button>
            <button class="rating-btn btn btn-dark" onclick="getTestimonialByStar(4)">4 <i class="fa-solid fa-star"></i></button>
            <button class="rating-btn btn btn-dark" onclick="getTestimonialByStar(5)">5 <i class="fa-solid fa-star"></i></button>
        </div>
    </div>
  <div >
     <section class="d-flex flex-wrap justify-content-center" id="testimonials">
     </section>
</div>
  <script src="assets/js/testimonial.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>



</html>